<% if flash.any? %>
  <div class="fixed inset-0 flex items-end justify-center px-6 py-6 pointer-events-none sm:m-10 sm:pt-10 sm:items-start sm:justify-end z-50" data-flash-notifications='true'>

    <% flash.each do |msg_type, msg| %>

      <div x-data="{flashVisible: false, flashType: '<%= msg_type %>'}" x-show='flashVisible' x-init="() => {flashVisible=true; setTimeout(() => {flashVisible=false}, 5000)}" class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto"
           x-transition:enter="transition ease-out duration-300"
           x-transition:enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2"
           x-transition:enter-end="translate-y-0 opacity-100 sm:translate-x-0"
           x-transition:leave="transition ease-out duration-100"
           x-transition:leave-start="transform opacity-100"
           x-transition:leave-end="transform opacity-0">
        <div class="rounded-lg shadow-xs overflow-hidden <%= flash_type_color(msg_type) %>">
          <div class="p-4">
            <div class="flex items-start">
              <div class="flex-shrink-0">
                <svg class="h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                     x-bind:class="{'text-green-400': flashType == 'success', 'text-red-500': flashType == 'error', 'text-yellow-300': flashType == 'alert'}">
                  <path x-show="flashType == 'success'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  <path x-show="flashType == 'alert'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                  <path x-show="flashType == 'error'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                  <path x-show="flashType == 'notice'" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>
              </div>
              <div class="ml-3 w-0 flex-1 pt-0.5">
                <p class="text-sm leading-5 font-medium text-gray-900">
                  <%= msg %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  </div>
<% end %>