<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <%= image_tag 'blog-icon.png', class: 'mx-auto h-12 w-auto' %>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-500">
        <%= t('.log_in') %>
      </h2>
    </div>
    <%= render 'form', resource: resource, resource_name: resource_name %>
  </div>
</div>