<div class="flex items-center justify-center py-12 px-12 sm:px-12 lg:px-12">
  <div class="max-w-2xl w-full space-y-8">
    <h2 class="mt-6 text-center text-3xl font-bold text-yellow-600">
      <%= t('.edit_post') %>
    </h2>
    <%= render 'form', post: post %>
  </div>
</div>