<div class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-4xl w-full space-y-8">
    <h2 class="mt-6 text-center text-3xl font-bold text-yellow-600">
      <%= t('.add_new_post') %>
    </h2>
    <%= render 'form', post: post %>
  </div>
</div>